[tool.poetry]
name = "django-model-subscription"
version = "0.0.8"
description = "Subscription model for a django model instance."
authors = ["Tonye Jack <tonyejck@gmail.com>"]
license = "MIT"
homepage = "https://django-model-subscription.readthedocs.io/en/latest/index.html"
repository = "https://github.com/jackton1/django-model-subscription"
documentation = "https://django-model-subscription.readthedocs.io/en/latest/index.html"

keywords = [
    "django model subscription",
    "model observer",
    "model change subscriber",
    "model subscriptions",
    "model instance subscription",
]

classifiers = [
    'Environment :: Web Environment',
    'Framework :: Django',
    'Framework :: Django :: 1.11',
    'Framework :: Django :: 2.0',
    'Framework :: Django :: 2.1',
    'Framework :: Django :: 2.2',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 2.7',
    'Programming Language :: Python :: 3.4',
    'Programming Language :: Python :: 3.5',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Topic :: Internet :: WWW/HTTP',
    'Topic :: Internet :: WWW/HTTP :: Dynamic Content',
]

packages = [
    { include = "django_model_subscription" },
    { include = "model_subscription" },
]

include = [
    "CHANGELOG.md",
    "manage.py",
]

exclude = [
    "__pycache__",
    "*.pyc", "*.pyo",
    "*.orig", "tests",
    "model_subscription/tests.py",
    "demo",
]
readme = "README.md"


[tool.poetry.dependencies]
python = "2.7.* || 3.4.* || 3.5.* || 3.6.* || 3.7.* || 3.8.*"
# The typing module is not in the stdlib in Python 2.7 and 3.4
typing = { version = "^3.6", python = "~2.7 || ~3.4" }
django-lifecycle = "^0.3.0"

[tool.poetry.dev-dependencies]
Django = {version = "*", extras = ["development"]}
check-manifest = {version = "^0.40.0", extras = ["development"], python = " ^2.7 || ^3.5"}
bump2version = {version = "^0.5.11", extras = ["deploy"], python = " ^2.7 || ^3.5"}
git-changelog = {version = "^0.1.0", extras = ["deploy"], python = "^3.6"}
poetry-setup = {version = "^0.3.6", extras = ["development"]}
sphinx = "=1.8.5"
sphinx-autobuild = "^0.7.1"
sphinx_rtd_theme = "^0.4.3"
lockfile = "^0.12.2"
recommonmark = "^0.6.0"
psycopg2 = [
    {version = "=2.7.3.1", python = "2.7.* || 3.4.* || 3.5.* || 3.6.* || 3.7.*"}
]
mysqlclient = [
    {version = "=1.4.4", python = "^3.6"}
]
tox = "^3.14"

[tool.poetry.extras]
deploy = ["bump2version", "git-changelog", "poetry-setup"]
development = ["Django", "check-manifest"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
