bump2version==0.*,>=0.5.11; python_version == "2.*" and python_version >= "2.7.0" or python_version == "3.*" and python_version >= "3.5.0"
check-manifest==0.*,>=0.40.0; python_version == "2.*" and python_version >= "2.7.0" or python_version == "3.*" and python_version >= "3.5.0"
django==2.*,>=2.0.0
django-stubs==1.*,>=1.1.0; python_version == "3.*" and python_version >= "3.6.0"
git-changelog==0.*,>=0.1.0; python_version == "3.*" and python_version >= "3.6.0"
lockfile==0.*,>=0.12.2
mypy==0.*,>=0.720.0; python_version == "3.*" and python_version >= "3.6.0"
mysqlclient==1.4.4; python_version == "3.*" and python_version >= "3.6.0"
poetry==1.1.0
psycopg2==2.8.6; python_version == "2.7.*" or python_version == "3.4.*" or python_version == "3.5.*" or python_version == "3.6.*" or python_version == "3.7.*"
recommonmark==0.*,>=0.6.0
sphinx==1.8.5
sphinx-autobuild==0.*,>=0.7.1
sphinx-rtd-theme==0.*,>=0.4.3
tox==3.*,>=3.14.0
