asgiref==3.4.1; python_version >= "3.6"
django-lifecycle==0.9.3
django==3.2.9; python_version >= "3.6"
pytz==2021.3; python_version >= "3.6"
six==1.16.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
sqlparse==0.4.2; python_version >= "3.6"
typing-extensions==4.0.0; python_version >= "3.6"
urlman==2.0.1
